<header class="header">
    <div class="header__container container">
        <div class="header__left">
            <a class="header__logo logo" href="#">
                <svg class="logo__icon">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <button class="header__burger btn burger" id="burger">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
            </button>
            <nav class="header__nav" id="nav">
                <ul class="header__menu menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Дистрибуция
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Продвижение
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Кейсы
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Отзывы
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Блог
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__right">
            <a class="header__link link" href="/personal">
                <span class="link__line link__line--top"></span>
                <span class="link__line link__line--right"></span>
                <span class="link__line link__line--bottom"></span>
                <span class="link__line link__line--left"></span>
                Личный кабинет</a>
        </div>
    </div>
</header>