	{% extends 'main/layout.html' %}
{% load static %}
	{% block personal %}

	<body>
    {% include 'personal/header.html' %}

        <main class="main-personal">
            <div class="main-personal__container container">
                <button class="btn aside-personal__close" id="close" title="Свернуть меню">
                </button>
                {% include 'personal/sidebar.html' %}
                <article class="personal-content">
                    <div class="personal__hero section__content active-content" data-content="home">
                        {% include 'personal/news.html' %}

                        {% include 'personal/top.html' %}

                        {% include 'personal/playlists.html' %}
                        
                        {% include 'personal/playlists.html' %}
                    </div>
                    <div class="personal__event section__content" data-content="event">
                        {% include 'personal/newEvent.html' %}

                        {% include 'personal/oldEvent.html' %}
                    </div>
                    <div class="personal__catalog section__content" data-content="catalog">
                        {% include 'personal/catalog.html' %}
                    </div>
                    <div class="download section__content" data-content="distribSection">
                        {% include 'personal/stepsList.html' %}
                        {% include 'personal/stepOne.html' %}
                        {% include 'personal/stepTwo.html' %}
                        {% include 'personal/stepThree.html' %}
                        {% include 'personal/stepFour.html' %}
                        {% include 'personal/stepFive.html' %}
                        {% include 'personal/stepPayment.html' %}
                        
                        <div class="download__section album section-hidden" id="addAlbum" data-name="album">
                            add Album
                        </div>
                    </div>
                </article>
            </div>
        </main>
       {% include 'personal/modalLogin.html' %}
    </div>
    <script src="{% static 'main/libs/choices.min.js' %}"></script>
    <script src="{% static 'main/libs/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'main/js/personal.js' %}"></script>
</body>
        	{% endblock %}