	{% extends 'personal/basePersonal.html' %}
{% load static %}
    {% block meta_title %}Music_Personal{% endblock %}

{% block main %}
    <main class="main-personal">
        <div class="main-personal__container container">
            <button class="btn aside-personal__close" id="close" title="Свернуть меню">
            </button>

            {% include "./includes/aside.html" %} 

            <article class="personal-content">
                <div class="personal__hero section__content active-content" data-content="home">
                    {% include "./includes/hero/newsSection.html" %} 

                    {% include "./includes/hero/topSection.html" %} 

                    {% include "./includes/hero/playlistsSection.html" %} 

                    {% include "./includes/hero/playlistsSection.html" %}                    
                </div>
                <div class="personal__event section__content" data-content="event">
                    {% include "./includes/event/newEventSection.html" %}  

                    {% include "./includes/event/oldEventSection.html" %} 
                    
                </div>
               {% include "./includes/catalog.html" %} 

                <div class="download section__content" data-content="distribSection">

                    {% include "./includes/download/stepsList.html" %}  

                    {% include "./includes/download/stepOne.html" %}  
                    
                    {% include "./includes/download/stepTwo.html" %}

                    {% include "./includes/download/stepThree.html" %}
                    
                    {% include "./includes/download/stepFour.html" %}

                    {% include "./includes/download/stepfive.html" %}

                    {% include "./includes/download/stepPayment.html" %}

                    <div class="download__section album section-hidden" id="addAlbum" data-name="album">
                        add Album
                    </div>
                </div>
            </article>
        </div>
    </main>    
    
{% endblock %}