{% load static %}

<div class="step-four step__section section-hidden" data-step="4">
    <div class="step__section--album hidden step__section--box">
        <h2 class="download__title">Важная информация</h2>
        <form class="form-four" id="formFourAlbum">
            <div class="tracks" id="tracksText">
            {% comment %} Сюда добавляется блок с вводом текста {% endcomment %}
            </div>                      
            <button class="btn header__link link step__btn" data-step="5" type="submit">
                <span class="link__line link__line--top"></span>
                <span class="link__line link__line--right"></span>
                <span class="link__line link__line--bottom"></span>
                <span class="link__line link__line--left"></span>
                Далее
            </button>            
        </form>
    </div>
</div>
