{% load static %}

<div class="step-three step__section section-hidden" data-step="3">
    <div class="step__section--single step__section--box">
        <h2 class="download__title">Нужны аудио</h2>
            <form class="form-three" action="POST" id="formThree">
            <div class="upload-singl">
            <h6 class="form-step__title">Загрузите WAV файл(ы)</h6>
            <div class="upload-singl-box">
                <div class="form-step__inner inner">
                    <input class="form-step__file" id="audio" type="file" accept="audio/wav">
                    <label class="form-step__label" for="audio">
                        <span>+</span>
                    </label>
                </div>
                <div class="upload-singl-info">
                <span class="upload-singl-text hidden">Файл успешно загружен</span>
                <span class="upload-singl-text upload-singl-name"></span>
                </div>
            </div>            
        </div>
        <div class="added-singl">
            <img class="added-singl__img" src="" alt="">            
            <div class="added-singl__content">
                <h5 class="added-singl__name"></h5>
                <span class="added-singl__autor"></span>
            </div>
            <button class="btn header__link link step__btn" type="submit" data-step="4">
                <span class="link__line link__line--top"></span>
                <span class="link__line link__line--right"></span>
                <span class="link__line link__line--bottom"></span>
                <span class="link__line link__line--left"></span>
                Продолжить</button>
        </div>
        </form>
    </div>
    {% include 'personal/stepThreeAlbum.html' %}
</div>