{% load static %}

<div class="step__section--album step__section--box hidden "> 
    <h2 class="download__title">Информация о альбоме</h2>
        <form class="form-two form-step" action="POST" id="formTwoAlbum">
            <h6 class="form-step__title">Выберите жанр</h6>
            <select class="form-step__select" name="genreAlbum" id="genreAlbum">
                {% comment %} <option default>Выберите жанр</option> {% endcomment %}
                <option value="pop">Поп-музыка</option>
                <option value="rok">Рок-музыка</option>
                <option value="jazz">Джаз</option>
                <option value="hop">Хип-Хоп</option>
                <option value="folk">Фольк</option>
            </select>
            <div class="form-step__box">
                <h6 class="form-step__title">Обложка</h6>
                <div class="tultip">
                    <button class="tultip__btn" type="button">
                        <svg class="tultip__icon">
                            <use xlink:href="#tultip"></use>
                        </svg>
                    </button>
                    <p class="tultip__content">Lorem ipsum dolor sit, amet consectetur
                        adipisicing
                        elit.
                        Necessitatibus magni modi, adipisci cumque, minus nulla tenetur pariatur
                    </p>
                </div>
            </div>
            <div class="form-step__inner">
                <input class="form-step__file" type="file" accept="image/*" id="imgAlbum">
                <label class="form-step__label" for="imgAlbum">
                    <span>+</span>
                </label>
            </div>
            <div class="form-step__wrapper">
                <label class="form-step__label" for="nameAutor">
                    <p>Исполнитель</p>
                    <input class="form-step__input" type="text" id="nameAutor" placeholder="Исполнитель">
                    <div class="tultip">
                        <button class="tultip__btn" type="button">
                            <svg class="tultip__icon">
                                <use xlink:href="#tultip"></use>
                            </svg>
                        </button>
                        <p class="tultip__content">Lorem ipsum dolor sit, amet consectetur
                            adipisicing
                            elit.
                            Necessitatibus magni modi, adipisci cumque, minus nulla tenetur
                            pariatur
                        </p>
                    </div>
                </label>

                <label class="form-step__label" for="titleAlbum">
                    <p>Название альбома</p>
                    <input class="form-step__input" type="text" id="titleAlbum"
                        placeholder="Название релиза">
                    <div class="tultip">
                        <button class="tultip__btn" type="button">
                            <svg class="tultip__icon">
                                <use xlink:href="#tultip"></use>
                            </svg>
                        </button>
                        <p class="tultip__content">Lorem ipsum dolor sit, amet consectetur
                            adipisicing
                            elit.
                            Necessitatibus magni modi, adipisci cumque, minus nulla tenetur
                            pariatur
                        </p>
                    </div>
                </label>

                <label class="form-step__label" for="dateAlbum">
                    <p>Дата основного релиза</p>
                    <input class="form-step__input" type="date" id="dateAlbum" placeholder="Дата">
                    <div class="tultip">
                        <button class="tultip__btn" type="button">
                            <svg class="tultip__icon">
                                <use xlink:href="#tultip"></use>
                            </svg>
                        </button>
                        <p class="tultip__content">Lorem ipsum dolor sit, amet consectetur
                            adipisicing
                            elit.
                            Necessitatibus magni modi, adipisci cumque, minus nulla tenetur
                            pariatur
                        </p>
                    </div>
                </label>
                <label class="form-step__label" for="album-tik">
                    <p>Дата выхода в Tik Tok</p>
                    <input class="form-step__input" type="date" id="album-tik">
                    <div class="tultip">
                        <button class="tultip__btn" type="button">
                            <svg class="tultip__icon">
                                <use xlink:href="#tultip"></use>
                            </svg>
                        </button>
                        <p class="tultip__content">Lorem ipsum dolor sit, amet consectetur
                            adipisicing
                            elit.
                            Necessitatibus magni modi, adipisci cumque, minus nulla tenetur
                            pariatur
                        </p>
                    </div>
                </label>
            </div>
            <div class="form-step__wrapper">
                <label class="form-step__label" for="titleSingle">
                    <p>Название трека</p>
                    <input class="form-step__input" type="text" id="titleSingle"
                        placeholder="Название трека">
                    <div class="tultip">
                        <button class="tultip__btn" type="button">
                            <svg class="tultip__icon">
                                <use xlink:href="#tultip"></use>
                            </svg>
                        </button>
                        <p class="tultip__content">Lorem ipsum dolor sit, amet consectetur
                            adipisicing
                            elit.
                            Necessitatibus magni modi, adipisci cumque, minus nulla tenetur
                            pariatur
                        </p>
                    </div>
                </label>
                <button class="add-track__btn btn" type="button">
            Еще трек</button>
            </div>
            <div class="form-step__wrapper new-track hidden">
                <label class="form-step__label" for="titleSingle2">
                    <p>Название трека</p>
                    <input class="form-step__input" type="text" id="titleSingle2"
                        placeholder="Название трека">
                    <div class="tultip">
                        <button class="tultip__btn" type="button">
                            <svg class="tultip__icon">
                                <use xlink:href="#tultip"></use>
                            </svg>
                        </button>
                        <p class="tultip__content">Lorem ipsum dolor sit, amet consectetur
                            adipisicing
                            elit.
                            Necessitatibus magni modi, adipisci cumque, minus nulla tenetur
                            pariatur
                        </p>
                    </div>
                </label>
                <button class="add-track__btn btn" type="button">
            Еще трек</button>
            </div>
            <button class="btn header__link link step__btn" type="submit" data-step="3">
                <span class="link__line link__line--top"></span>
                <span class="link__line link__line--right"></span>
                <span class="link__line link__line--bottom"></span>
                <span class="link__line link__line--left"></span>
                Далее</button>
        </form>
    </div>