{% load static %}

<div class="step-payment step__section section-hidden step-payment-album" data-step="6">
    <div class="step__section--album step__section--box">
        <div class="payment__top">
            <div class="payment__body">
                <img class="payment__img payment__img-album" alt="">
                <div class="payment__content">
                    <h5 class="payment__name payment__name-album"></h5>
                    <h4 class="payment__name--autor payment__name--autor-album"></h4>
                    <span class="payment__autor payment__autor-album"></span>
                </div>
            </div>
            <form class="promo__form" action="POST" id="formPromoAlbum">
                <label class="promo__label" for="promo">
                    <input class="promo__input" type="text" id="promoAlbum"
                        placeholder="Введите промокод">
                </label>
                <button class="btn promo__btn">Ввести</button>
            </form>
        </div>
        <div class="payment__result">
            <span class="payment__text">К оплате 2000 </span>
            <button class="payment__btn btn agreement" id="alb">
                Подписать договор</button>
            <button class="btn header__link link" id="rezalt-album" disabled>
                <span class="link__line link__line--top"></span>
                <span class="link__line link__line--right"></span>
                <span class="link__line link__line--bottom"></span>
                <span class="link__line link__line--left"></span>
                Оплатить</button>
        </div>
        <p class="rezalt-message" id="album-message">
        </p>
        <div class="additionally">
            <div class="additionally__card">
                <img class="additionally__card--img" src="{% static 'main/img/personal_page/Eosella.jpg' %}"
                    alt="">
                <div class="additionally__card--body">
                    <span class="additionally__card--price">1000</span>
                    <span class="additionally__card--text">Придумаем отличное описание Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit. Ad, voluptatem.</span>
                </div>
                <button class="btn additionally__card--btn">Добавить</button>
            </div>
            <div class="additionally__card">
                <img class="additionally__card--img" src="{% static 'main/img/personal_page/Eosella.jpg' %}"
                    alt="">
                <div class="additionally__card--body">
                    <span class="additionally__card--price">2000</span>
                    <span class="additionally__card--text">Нарисуем красивую обложку</span>
                </div>
                <button class="btn additionally__card--btn">Добавить</button>
            </div>
        </div>
    </div>
</div>