{% load static %}

<section class="personal-section top">
    <h2 class="personal-section__title">Топ 10 исполнителей</h2>
    <div class="top__list swiper">
        <div class="top__list-wrapper swiper-wrapper">
            <div class="swiper-slide top__card first">
                <img class="top__img" src="{% static 'main/img/personal_page/Pendragon.jpg' %}" alt="">
                <div class="top__content">
                    <span class="top__name">Имя Исполнителя</span>
                    <span class="top__rating">6589 баллов</span>
                </div>
            </div>
            <div class="swiper-slide top__card">
                <img class="top__img" src="{% static 'main/img/personal_page/Pendragon.jpg' %}" alt="">
                <div class="top__content">
                    <span class="top__name">Другой автор</span>
                    <span class="top__rating">5215 баллов</span>
                </div>
            </div>
            <div class="swiper-slide top__card">
                <img class="top__img" src="{% static 'main/img/personal_page/Pendragon.jpg' %}" alt="">
                <div class="top__content">
                    <span class="top__name">Еще один</span>
                    <span class="top__rating">3489 баллов</span>
                </div>
            </div>
            <div class="swiper-slide top__card">
                <img class="top__img" src="{% static 'main/img/personal_page/Pendragon.jpg' %}" alt="">
                <div class="top__content">
                    <span class="top__name">Другой автор</span>
                    <span class="top__rating">5215 баллов</span>
                </div>
            </div>
            <div class="swiper-slide top__card">
                <img class="top__img" src="{% static 'main/img/personal_page/Pendragon.jpg' %}" alt="">
                <div class="top__content">
                    <span class="top__name">Еще один</span>
                    <span class="top__rating">3489 баллов</span>
                </div>
            </div>
            <div class="swiper-slide top__card">
                <img class="top__img" src="{% static 'main/img/personal_page/Pendragon.jpg' %}" alt="">
                <div class="top__content">
                    <span class="top__name">Другой автор</span>
                    <span class="top__rating">5215 баллов</span>
                </div>
            </div>
            <div class="swiper-slide top__card">
                <img class="top__img" src="{% static 'main/img/personal_page/Pendragon.jpg' %}" alt="">
                <div class="top__content">
                    <span class="top__name">Еще один</span>
                    <span class="top__rating">3489 баллов</span>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>