<aside class="aside-personal" id="aside">
    <div class="aside-personal__inner">
        <div class="aside-personal__box">
            <ul class="aside-personal__menu aside-menu visible">
                <li class="personal__item aside-menu__item active" data-content="home">
                    <button class="btn aside-menu__btn">
                        <svg class="aside-menu__icon">
                            <use xlink:href="#home"></use>
                        </svg>
                        <span> Главная</span>
                    </button>
                </li>
                <li class="personal__item aside-menu__item" data-content="event">
                    <button class="btn aside-menu__btn">
                        <svg class="aside-menu__icon">
                            <use xlink:href="#calendar"></use>
                        </svg>
                        <span> События</span>
                    </button>
                </li>
                <li class="personal__item aside-menu__item disabled">
                    <button class="btn aside-menu__btn">
                        <svg class="aside-menu__icon">
                            <use xlink:href="#user"></use>
                        </svg>
                        <span> Личный кабинет</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="aside-personal__box">
            <button class="btn box__close" id="closeBox" title="Свернуть подменю" data-menu="1">
            </button>
            <h4 class="aside-menu__title">Дистрибуция</h4>
            <ul class="aside-personal__menu aside-menu" data-menu="1">
                <li class="personal__item aside-menu__item" data-content="catalog">
                    <button class="btn aside-menu__btn">
                        <svg class="aside-menu__icon">
                            <use xlink:href="#distr"></use>
                        </svg>
                        <span>Мой каталог</span>
                    </button>
                </li>
                <li class="personal__item aside-menu__item" data-content="static">
                    <button class="btn aside-menu__btn" disabled>
                        <svg class="aside-menu__icon">
                            <use xlink:href="#static"></use>
                        </svg>
                        <span>Статистика</span>
                    </button>
                </li>
                <li class="personal__item aside-menu__item" data-content="multilink">
                    <button class="btn aside-menu__btn" disabled>
                        <svg class="aside-menu__icon">
                            <use xlink:href="#link"></use>
                        </svg>
                        <span>Мультиссылка</span>
                    </button>
                </li>
                <li class="personal__item aside-menu__item" data-content="support">
                    <button class="btn aside-menu__btn" disabled>
                        <svg class="aside-menu__icon">
                            <use xlink:href="#support"></use>
                        </svg>
                        <span>Поддержка</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    </aside>