<header class="header-personal">
    <div class="header-personal__container header__container container">
        <a class="header__logo logo" href="/">
            <svg class="logo__icon">
                <use xlink:href="#logo"></use>
            </svg>
        </a>
        <div class="header__buttons">
            <button class="btn header__link link" id="download">
                <span class="link__line link__line--top"></span>
                <span class="link__line link__line--right"></span>
                <span class="link__line link__line--bottom"></span>
                <span class="link__line link__line--left"></span>
                Загрузить</button>
            <div class="header__box">
                <ul class="header__box-list">
                    <li class="header__box-item" data-content="distribSection">
                        <button class="header__box-btn btn" id="downloadDistrib">
                            <svg class="header__box-icon">
                                <use xlink:href="#distr"></use>
                            </svg>
                            <span class="header__box-text">Релиз на дистрибуцию</span>
                        </button>
                    </li>
                    <li class="header__box-item">
                        <button class="header__box-btn btn" id="downloadMinus" disabled>
                            <svg class="header__box-icon">
                                <use xlink:href="#minus"></use>
                            </svg>
                            <span class="header__box-text">Минус на продажу</span>
                        </button>
                    </li>
                    <li class="header__box-item">
                        <button class="header__box-btn btn" id="addLink" disabled>
                            <svg class="header__box-icon">
                                <use xlink:href="#link"></use>
                            </svg>
                            <span class="header__box-text">Сделать мультиссылку</span>
                        </button>
                    </li>
                </ul>
            </div>
            <button class="btn header__link link" id="sign">
                <span class="link__line link__line--top"></span>
                <span class="link__line link__line--right"></span>
                <span class="link__line link__line--bottom"></span>
                <span class="link__line link__line--left"></span>
                Войти</button>
        </div>
    </div>
</header>